/*Schrijf hier jouw css*/
body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F2F3D9;
    text-align: center;
    gap: 40px;
}

    nav {
        background-color: #030027;
        color: #E6EAEB;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 40px;
        padding-left: 40px;
        padding-right: 40px;
        margin: -10px;
        flex: 0 0 100%;
    }

a {
    text-decoration: none;
    color: #E6EAEB;
}

.navi {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    min-width: 50%;
    flex: 0 0 auto;
}
header {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        flex: 1 1 auto;
    }

    .box {
        background-color: #C16E70;
        border-radius: 5px;
        border-style: solid;
        border-width: 5px;
        border-color: #C16E70;
        height: 350px;
        max-width: 280px;

        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-end;
        overflow-wrap: break-word;
        flex: 1 1 280px;

    }



